name: Deploy to App Runner 
on:
  push:
    branches: [ dev ]
  workflow_dispatch:

jobs:  
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    
    steps:     
      - name: Checkout    
        uses: actions/checkout@v2   
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          
      - name: Deploy to App Runner
        id: deploy-apprunner
        uses: awslabs/amazon-app-runner-deploy@main
        with:
          service: app-runner-git-deploy-service
          source-connection-arn: ${{ secrets.AWS_CONNECTION_SOURCE_ARN }}
          repo: https://github.com/${{ github.repository }}
          branch: dev
          runtime: NODEJS_14
          build-command: npm install && npm run build_dev
          start-command: npm start
          port: 8035
          region: us-east-1
          cpu : 1
          memory : 2
          wait-for-service-stability: true
      
      - name: App Runner output
        run: echo "App runner output ${{ steps.deploy-apprunner.outputs.service-id }}" 